<!-- about.ejsXiangde Ou 2023.1.28 -->
<% include partials/header.ejs %>
<!-- main navagation bar -->
<% include partials/main_nav.ejs %>


  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4 myTextAlign">Welcome to the <%= title %> me page</h1>
      
      <p></p>
      <div>

        <div class = "cutDiv" style=""><img src="Image/About1.jpg" alt="" width="400px" height="400px"></div>
        <div class = "cutDiv" style="">
          <h2 class="myTextAlign">Xiangde Ou</h2>
          <h3>Here would be a short paragraph to introduce myself //TODO</h3>
        </div>
        <div class = "cutDiv" style=""><img src="Image/About2.jpg" alt="" width="400px" height="400px"></div>

      </div>

      <p></p>

      <!-- PDF -->
      <!--<iframe src="/PDF/resume.PDF" width="100%" height="500px"></iframe>-->
      <p class="myTextAlign"><a href="/PDF/resume.PDF">Open a RESUNME.PDF file example</a>.</p>
    </div>
  </main>

  
  <% include partials/bottom_nav.ejs %>
  <!-- SCRIPT SECTION -->
  <% include partials/footer.ejs %>




