<!-- index.ejs Xiangde Ou 2023.1.28 -->
<% include partials/header.ejs %>
<!-- main navagation bar -->
<% include partials/main_nav.ejs %>


  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">

      <h1 class="display-4 myTextAlign">Welcome to the <%= title %> page</h1>

      <p></p>


        <div class="card" style="text-align: center;" >
          <div class="card-body">
            <h5 class="card-title">Mission Statement</h5>
            <p class="card-text">To loss the weight</p>
            <a href="/about" class="card-link">About me</a>
          </div>
      </div>
    </div>


    
  </main>


  <% include partials/bottom_nav.ejs %>
  <!-- SCRIPT SECTION -->
  <% include partials/footer.ejs %>




