<!-- project.ejs Xiangde Ou 2023.1.28 -->
<% include partials/header.ejs %>
<!-- main navagation bar -->
<% include partials/main_nav.ejs %>


  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4 myTextAlign">Welcome to the <%= title %> page</h1>

    </div>

    <p></p>

    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="/Image/ChineseChees.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">ChineseChees</h5>
          <p class="card-text">2D GAME.The gameplay and online duels of the game are realized through Unity.</p>
          <p class="card-text"><small class="text-muted">2020.6</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/Image/WEBPROGRAMING.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Web Application</h5>
          <p class="card-text">I'm trying to build my personal website and make it look better.</p>
          <p class="card-text"><small class="text-muted">Unitl Now</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/Image/Map.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Map</h5>
          <p class="card-text">A map for a pixel game.</p>
          <p class="card-text"><small class="text-muted">Unitl Now</small></p>
        </div>
      </div>
    </div>



  </main>

  
  <% include partials/bottom_nav.ejs %>
  <!-- SCRIPT SECTION -->
  <% include partials/footer.ejs %>




