<!-- service.ejs Xiangde Ou 2023.1.28 -->
<% include partials/header.ejs %>
<!-- main navagation bar -->
<% include partials/main_nav.ejs %>


  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4 myTextAlign">Welcome to the <%= title %> me page</h1>
      
      <p></p>
      <h3><p class="myTextAlign">Things I can do.</p></h3>
      
      <h5 class="myTextAlign"><i class="fa-brands fa-unity"></i> Unity</h5>
      <h5 class="myTextAlign"><i class="fa-brands fa-android"></i> Android Programing</h5>  
      <h5 class="myTextAlign"><img src="http://zh.esotericsoftware.com/img/core/spine_logo_bright.svg" style="width:104px;height:32px" alt="Spine"> 2D Animation</h5>  

  </main>

  
  <% include partials/bottom_nav.ejs %>
  <!-- SCRIPT SECTION -->
  <% include partials/footer.ejs %>


