/* app.css Xiangde Ou 2023.1.28*/
/* custom css goes here*/
.myDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
    margin: 0 auto;
  }
  .myTextAlign{
    text-align: center;
  }
  .divCenter{
    align: center;
  }
  .cutDiv{
    box-sizing: border-box; /*border计草在width中*/
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    width: 33.33%;
    height: 400px;
    float:left;
  }

  